@mixin size($w,$h:$w){
    width: $w ;
    height: $h ;
}

/*zindex*/
@mixin zindex() {
    z-index: 999;
}

/*linear-gradient*/
@mixin linear-gradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

/*midtext*/
@mixin midtext() {
    font: bold 20px/40px sans-serif;
    font-family: Microsoft JhengHei;
    letter-spacing: 1px;
}


/*stext*/
@mixin stext() {
    font: bolder 14px/15px sans-serif;
    font-family: Microsoft JhengHei;
    color: #fff;
}

@mixin ellipsistext() {
overflow : hidden;
text-overflow : ellipsis;
white-space : nowrap; 
}

/*specify*/
@mixin css3($property, $value) {
    @each $prefix in -webkit-,
    -moz-,
    -ms-,
    -o-,
    '' {
        #{$prefix}#{$property}: $value;
    }
}


/*keyframes*/
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}


/*Responsive*/
@mixin Responsive($point) {
    @if $point==large {
        @media (min-width: 2000px) {
            @content;
        }
    }
    @else if $point==medium {
        @media (min-width: 1200em) {
            @content;
        }
    }
    @else if $point==small {
        @media (min-width: 640em) {
            @content;
        }
    }
}

@mixin range-width-in( $min: 0, $max: 0){
    @if $max == 0{
        @media screen and (min-width: $min){
            @content;
        }
    }@else{
        @media screen and (min-width: $min) and (max-width: $max){
            @content;
        }
    }
}


/*radius*/
@mixin border-radius($angle) {
    border-radius: $angle;
    -webkit-border-radius: $angle;
    -moz-border-radius: $angle;
    -ms-border-radius: $angle;
    -o-border-radius: $angle;
}


/*boxshadow*/
@mixin boxshadow($shx, $shy, $shblur, $shcolor) {
    box-shadow: $shx $shy $shblur $shcolor;
    -webkit-box-shadow: $shx $shy $shblur $shcolor;
    -moz-box-shadow: $shx $shy $shblur $shcolor;
    -ms-border-radius: $shx $shy $shblur $shcolor;
    -o-box-shadow: $shx $shy $shblur $shcolor;
}


/*POS*/
@mixin POS($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
}


/*clearfix*/
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
#newsPageout{
    background: #f4f7f8;
    #newsPage01{
        .container{
            background: #fff;
            .newsBigBanner{
                padding: 0 30px;
            }
        }
    }
}
footer{
    .footerlogo{
        display: none;
    }
    .icon-qq-icon{
        font-size: 16px;
        &:before{
            vertical-align: sub;
        }
    }
    .icon-mail{
        font-size: 25px;
        &:before{
            vertical-align: middle;
        }
    }
}
/*newspage*/
.newsBigBanner{
    #NewsLightBox{
        margin-top: 0!important;
    }
    .newstitle{
        overflow: hidden;
        line-height: 100px;
        vertical-align: middle;
        color: #4a4a4a;
        margin-bottom: 20px;
        >*{
            float: left;
        }
        .rightlist{
            width: 80%;
            >*{
                float: left;
            }
            .newssearchbar{
                width: 25%;
                margin-top: 32px;
                position: relative;
                input{
                    @include css3(border-radius,20px);
                    padding-right: 50px;
                }
                input,input:focus,input:active{user-select: text;}
                .possearchpic{
                    position: absolute;
                    z-index: 9;
                    margin-top: 7px;
                    right: 0px;
                    margin-right: 10px;
                    //border-left: 1px solid #b6b6b6;
                    padding-left: 15px;
                    cursor: pointer;
                    width: 40px;
                    height: 20px;
                    line-height: 20px!important;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                    .icon-search{
                        &:before{
                            position: relative;
                            line-height: 20px;
                            font-size: 20px;
                            color: #b6b6b6;
                        }  
                    }
                }
            }

        }
        .title{
            font-size: 24px;
            width: 20%;
            text-align: left;
            font-weight: 900;
            border-left: 4px solid #ff6d00;
            line-height: 30px;
            margin-top: 35px;
            padding-left: 12px;
        }
    }

    .innewsBanner{
        .innewsBannerbox{
            margin-bottom: 20px;
            .bannerItem{
                border: 0px solid #000!important; 
            }
            .bannerItem_imgout{
                @include css3(transition,all .2s ease);
            }
            &:hover{
                .bannerItem_imgout{
                    @include css3(transform,scale(1.1));
                }
            }
        }
    }
    .pagectrlbox{
        display: none;
        li{
            margin: 0 .5%;
            color: #b5b5b5;
            font-weight: 900;
            position: relative;
            width: 25px;
            height: 25px;
            line-height: 25px;
            font-size: 16px;
            list-style: none;
            display: inline-block;
            cursor: pointer;
            vertical-align: middle;
            @include css3(border-radius,50px);
            @include css3(transition,all .2s ease);
            &:before{
                position: absolute;
                top: 0;
                left: 0;
                text-align: center;
                font-size: 20px;
            }
        }
        .pagenum{
            &:hover{
                background: #4b81c4;
                color: #fff;
            }
        }
        .active{
            background: #4b81c4;
            color: #fff;
            cursor: default;
        }
        .icon-firstpage,.icon-prepage{
            @include css3(transform,rotate(180deg));
        }
        .pagectrl{
            &:hover{
                color: #4b81c4;
            }
        }
    }
    .bannerItem_imgout{
        background-size: cover;
        background-position: center;
        @include css3(border-radius,4px);
        img{
            height: 320px;
            @include range-width-in(0,768px){
                height: auto;
            }
        }
    }
    .newsBanner{
        .col-sm-4{
            .newsText{
                .title{max-width: 50%!important;}
            }
        }
        .newsText{
            .row{
                overflow: hidden;
                height: 30px;
                @include range-width-in(0,768px){
                    height: auto;
                }
                >*{
                    float: left;
                }
                .title{
                    max-width: 80%;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    white-space: normal!important;
                    height: 22px;
                    color:#4a4a4a;
                    @include range-width-in(0,768px){
                        width: 100%;
                    }
                    p{
                        margin: 0!important;
                    }
                }
                .date{
                    position: absolute;
                    right: 20px;
                    margin-top: 2px;
                    @include range-width-in(0,768px){
                        margin-top: 5px;
                        position: inherit;
                    }
                }
            }
        }
    }
}
.searchbox_mb{
    margin-top: 0;
    padding-top: 0!important;
    background: #f6f6f6;
    height: 50px;
    position: relative;
    left: 0;
    @include css3(transition,all .3s ease);
    >div{
        float: left;
    }
    .prepage{
        width: 10%;
        font-size: 25px;
        text-align: center; 
        vertical-align: middle;
        padding-top: 15px;
        cursor: pointer;
        z-index: 99;
        position: relative;
    }
    .newssearchbar{
        top:0;
        width: 85%;
        margin: 10px auto;
        position: relative;
        padding-top: 0;
        input{
            @include css3(border-radius,20px);
            padding-right: 50px;
        }
        input,input:focus,input:active{user-select: text;}
        .possearchpic{
            position: absolute;
            z-index: 9;
            margin-top: 7px;
            right: 0px;
            margin-right: 10px;
            //border-left: 1px solid #b6b6b6;
            padding-left: 15px;
            cursor: pointer;
            width: 40px;
            height: 20px;
            line-height: 20px!important;
            img{
                width: 20px;
                height: 20px;
            }
            .icon-search{
                &:before{
                    position: relative;
                    line-height: 20px;
                    font-size: 20px;
                    color: #b6b6b6;
                }  
            }
        }
    }
    
}
.searchactive{
        left: 100%;
    }
.newsnavlist{
    width: 75%;
    height: 100px;
    position: relative;
    .newsnavlistul{
        position: absolute;
        right: 50px;
        width: 90%;
        text-align: center;
        @include range-width-in(0,768px){
            min-width: auto;
        }
        li{
            position: relative;
            display: inline;
            list-style: none;
            padding: 5px 15px;
            margin: 0 15px;
            color:  #4a4a4a;
            cursor: pointer;
            @include css3(border-radius,20px);
            @include css3(transition,all .3s ease);
            font-size: 17px;
            &:hover{
                color:  #ff730b;
                background: #f6f6f6;
            }
            @include range-width-in(0,768px){
                margin: 0; 
            }
        }
        .active{
            color:  #ff730b;
            background: #f6f6f6;
            cursor: default;
        }
    }
}
#news_productpage ,#news_eventpage{
    .bannerItem{
        .downloadlink{
            text-decoration: none;
            .download{
                color: #b9bfc1;
                text-decoration: none;
                width: 115px;
                height: 30px;
                line-height: 30px;
                font-size: 12px;
                @include css3(border-radius,15px);
                @include css3(transition,all .3s ease);
                border: 1px solid #b9bfc1;
                vertical-align: middle;
                margin-left: -15px;
                @include range-width-in(0,768px){
                    position: absolute;
                    right: 8px;
                    bottom: 20px;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    i{
                        margin-right: 0;
                    }
                }
                i{
                    font-size: 20px;
                    margin-right: 6px;
                    top:3px;
                    @include range-width-in(0,768px){
                        margin-right: 0;
                    }
                }
                >*{
                    display: inline;
                    position: relative;
                }
                .downloadtxt{
                    top:-2px;
                    @include range-width-in(0,768px){
                        display: none;
                    }
                }
                &:hover{
                    background: #ff730b;
                    color:#fff;
                    border: 1px solid #ff730b;
                }
            }
        }
    }
}
#news_contentpage,#news_downloadpage{
    .newsBanner{
        margin-bottom: 20px!important;
        .contentpage_contentlist_out{
            border-bottom: 1px solid #f6f6f6;
            overflow: hidden;
            margin-top: 0px;
            @include css3(transition,all .3s ease);
            cursor: pointer;
            a{
                text-decoration: none;
            }
            &:hover{
                background: #f6f6f6;
                
                .newscontent,.date,.newstype{
                }
                .newsdownload{
                    .icon-download{
                        color: #ffa200;
                    }
                }
            }
            .contentpage_contentlist_in{
                padding:0;
                .contentpage_text{
                    .newsText{
                        overflow: hidden;
                        margin: 0;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        font-size: 16px;
                        position: relative;
                        padding: 30px 20px;
                        @include range-width-in(0,768px){
                            display: block;
                            background: #fff;
                            padding: 10px;
                        }
                        >*{
                            -webkit-align-items: center;
                            -ms-flex-align: center;
                            align-items: center;
                            text-overflow : ellipsis;
                            white-space : nowrap; 
                            @include range-width-in(0,768px){
                                width: 100%;
                                display: block;
                            }
                        }
                        .title_active{
                            p{
                                border: 1px solid #ff6d00!important;
                                color: #ff6d00!important;
                                @include range-width-in(0,768px){
                                    border-left: 2px solid #ff6d00!important;
                                    border-right: 0!important;
                                    border-top: 0!important;
                                    border-bottom: 0!important;
                                    @include css3(border-radius,0!important);
                                }
                            }
                        }
                        .title_active_bule{
                            p{
                                border: 1px solid #4a7cd7;
                                color: #4a7cd7;
                            }
                        }
                        .title{
                            height: 30px;
                            width: 100px;
                            line-height: 30px;
                            padding-top: 5px;
                            p{
                                width: 100px;
                                @include css3(border-radius,20px);
                                border: 1px solid #9e9e9e;
                                color: #9e9e9e;
                                font-size: 14px;
                                overflow : hidden;
                                text-overflow : ellipsis;
                                white-space : nowrap; 
                                @include range-width-in(0,768px){
                                    border-left: 2px solid #9e9e9e;
                                    border-right: 0;
                                    border-top: 0;
                                    border-bottom: 0;
                                    @include css3(border-radius,0);
                                    line-height: 16px;
                                    text-align: left;
                                    padding-left: 10px;
                                }
                            }
                        }
                        .newscontent,.date,.newsdownload{
                            line-height: 30px;
                            overflow : hidden;
                            color: #b3b3b3;
                            line-height: 40px;
                        }
                        .newscontent{
                            color: #5f6263;
                            flex: 5 0 0%;
                            text-align: left;
                            padding-left: 10px;
                            height: 40px;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                            white-space: normal;
                            overflow: hidden;
                            @include range-width-in(0,768px){
                                -webkit-line-clamp: 2;
                                height: 50px;
                                line-height: 25px;
                                max-width: 100%;
                                padding-left: 0px;
                                margin-top: 7px;
                            }
                        }
                        .date{
                            width: 100px;
                            font-weight: 100;
                            text-align: right;
                            @include range-width-in(0,768px){
                                position: absolute;
                                right: 8px;
                                top: 10px;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
#news_downloadpage{
    .newsText{
        .newscontent{
            padding-left: 0px!important;
        }
        .newstype{
            position: relative;
            line-height: 40px;
            width: 200px;
            //flex: 2 0 0%;
            padding: 0 20px;
            overflow : hidden;
            color: #b3b3b3;
            @include range-width-in(0,768px){
                text-align: left;
                padding: 0;
                line-height: 30px;
                top: 10px;
            }
        }
        .newsdownload{
            flex: 1 0 0%;
            font-size: 40px;
            text-align: right;
            overflow: auto;
            .icon-download{
                color:#b3b3b3;
            }
        }
    }
    .date{
        text-align: left;
        @include range-width-in(0,768px){
            margin-top: -15px;
        }
    }
}
@include range-width-in(769px){
    .mb{
        display: none;
    }
}
@include range-width-in(0,768px){
    #newsPage01{
        padding-top: 58px!important;
        .container{
            margin-top: 40px;
            background: #f6f6f6!important;
        }
    }
    .newsnavlist{
        visibility: inherit !important;
        z-index: 1000;
        position: fixed;
        background: #f6f6f6;
        top: 58px;
        width: 100%;
        line-height: 25px;
        height: 50px;
        font-size: 14px;
        float: none;
        .newsnavlistul{
            width: 100%;
            right: 0;
            text-align: center;
            padding-top: 10px;
            li{
                display: inline-block;
                float: none;
                padding: 3px 20px;
                span{
                    display: none;
                }
                &:hover{
                    background: #fff;
                }
            }
            .active{
                background: #fff;
            }
            .searchbtn_mb{
                font-size: 20px;
                cursor: pointer;
                img{
                    width: 20px;
                    vertical-align: -3px;
                }
                &:hover{
                    background: none;
                }
            }

        }
        
    }
    .newsBigBanner{
        .innewsBannerbox{
            margin-top: 0px!important;
            margin-bottom: 10px!important;
        }
        .newstitle{
            .title{
                display: none;
            }
            .rightlist{
                width: 100%;
                .newsnavlist{
                    display: none;
                }
                .newssearchbar{
                    display: none;
                    width: 100%;
                    margin-top: 40px;
                }
            }
        }
        .bannerItem{
            position: relative;
            overflow: hidden;
            background: #fff;
            @include css3(border-radius,5px);
            .bannerItem_imgout{
                @include css3(border-radius,5px 5px 0 0);
            }
            .newsText{
                width: 100%;
                padding-top: 0!important;
                padding-bottom: 0!important; 
                position: relative;
                .row{
                    padding-top: 0;
                    padding-bottom: 0;
                    padding: 10px 15px;
                    .title{
                        max-width: 100%!important;
                        padding-right: 50px;
                    }
                }
            }
        }
    }
    footer {
        background: #fff;
        .footerlogo{
            display: inherit;
            text-align: center;
            width: 50%;
            margin: 0 auto;
            img{
                width: 100%;
            }
        }
        .col-lg-6{
            p{
                font-size: 10px;
            }
        }
    }
}

/****适应小电脑样式****/
@media screen and (min-width: 1360px) and (max-width: 1400px){ 
#Advantages {
    padding: 2.5em 0;
}
#b2b{
    padding-top: 4.5em;
}
#bigData {
    padding: 0em 0;
}
#bigData .bigDatabox {
    padding: 0vw 0;
}
#lotteryPage01{
    padding: 0em 0;
    height: 103vh;
}    
#lotteryPage02 {
    padding: 3em 0;
    height: 105vh;
}

#casePage02 .caseAchievement {
    width: 42%;
    height: 38%;
}
#casePage03 {
    padding: 1.5em 0;
    height: 115vh;
}
#mobilePage01 {
    padding: 0.2em 0;
}
#cooperationPage01 {
    padding: 2.5em 0;
}
#cooperationPage02 {
    padding: 2.5em 6.5em;
}
#cooperationPage03 {
    padding: 0em 6.5em;
    height: 115vh;
}
}