/**************************************************************************
*	01 - Preloder
*	02 - body 
*   03 - grid
*	04 - header  
*	05 - responsive Nav-menu  
*	06 - #home section ( banner ) 
*	07 - timeline
*	08 - button
*	09 - section padding 
*	10 - slogan section 
*	11 - function section 
*	12 - calculation section 
*	13 - procedure section 
*	14 - footer section 
***************************************************************************/
@import url("../css/img-wrap.css"); /* responsive image-on-hover effect */
@import url("../css/accordion.css"); /* QA-Menu list*/
@import url("../css/title.css"); /* Draw title  */
/* ==========================================================================
    01 - Preloder
========================================================================== */  
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.pace-inactive {
	display: none;
}
.pace .pace-progress {
	background-color: #d8261d;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 4px;
}
/* ==========================================================================
    02 - body 
========================================================================== */  

html, body {
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font: 1em/1.6em "Microsoft YaHei", "敺株蔓��暺�", "PingFangSC-Regular", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #717171;
}
/* ==========================================================================
    03 - grid 
========================================================================== */  
.row {
	width: 100%;
	padding: 0 15px;
	max-width: 1000px;
	margin: 0 auto;
	box-sizing: inherit;
}
.row .row {
	width: auto;
	max-width: none;
}
/* clearfix */
.row:before, .row:after, .content:before, .content:after, .columns:before, .columns:after {
	content: "";
	display: table;
	line-height: 0;
}
.row:after, .content:after {
	clear: both;
}
.content {
	width: 100%;
	display: block;
}
.columns {
	min-height: 1px;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* ==========================================================================
    04 - header 
========================================================================== */  
header {
	width: 100%;
	background-color: rgba(255,255,255,.95);
	border-bottom: 2px solid #f2f2f2;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
}
.fittext1{
	line-height: 60px;
}
/* for oldIE - IE9 */
.oldie header {
	background-color: #fff;
}
/*color for main-Header */
/*
.opaque {
	background-color: rgba(255,255,255,1);
	padding: 0;
}*/
.topopaque{
	background-color: rgba(255,255,255,1);
	padding: 0;
}
/* ==========================================================================
    05 - responsive Nav-menu 
========================================================================== */  

.nav-container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.nav-logo {
	position: absolute;
	height: 55px;
	line-height: 55px;
	letter-spacing: 1px;
	float: left;
	display: block;
	margin: 0 15px;
}
.nav-logo img {
	display: block;
	float: left;
	padding: 9px 0;
}
.nav-logo span {
	font-size: 1.4em;
	line-height: 55px;
	color: #373737;
	padding: 0 8px;
	float: left;
	display: inline;
}
.nav-logo span i{
    font-size: 30px;
    margin-right: .3em;
	vertical-align: -0.2em;
}
.nav-logo #l2 {
}
.nav-collapse {
	list-style: none;
	float: left;
	clip: rect(0 0 0 0);
	max-height: 0;
	position: absolute;
	display: block;
	overflow: hidden;
	zoom: 1;
}
.nav-collapse.opened {
	max-height: 9999px;
	height: 100%;
}
.nav-collapse.opened > .nav-list {
	max-height: 9999px;
	height: 100%;
}
/* Mobile Nav-menu List */
.nav-list {
	/* Mobile Menu Background Color */
	background-color: #d8261d;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: table;
	table-layout: fixed;
	text-align: center;
	border-radius: 0;
	overflow: hidden;
}
.nav-list li {
	width: 100%;
	float: left;
}
.nav-list li a {
	display: block;
	line-height: 55px;
	color: #717171;
	text-decoration: none;
	font-family: "Microsoft YaHei", "PingFangSC-Regular", Helvetica, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-bottom: 1px dotted rgba(255,255,255,.2);
}
.nav-list li:last-of-type a {
	border-bottom: none;
}
.nav-list li a:hover {
	color: #cb261d;
	background-color: rgba(255,255,255,.2)
}
.nav-list li a:active {
	background-color: transparent !important;
}
.nav-list li.current a {
	color: #cb261d;
}
.disable-pointer-events {
	pointer-events: none !important;
}
/* mobile list */
.opaque .nav-list li a, .oldie .nav-list li a {
	color: #fff;
}
.opaque .nav-list li a:active {
	background-color: transparent !important;
}
.opaque .nav-list li a:hover, .opaque .nav-list li.current a, .oldie .nav-list li a:hover, .oldie .nav-list li.current a {
	color: #f4cc00;
}
.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}
/* Mobile navmenu opem/close button */
.nav-toggle {
	/* Edit this to change the icon color */
	color: #cb261d;
	width: 70px;
	height: 55px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
	text-indent: -999px;
	position: relative;
	overflow: hidden;
	float: right;
}
/* for oldIE - IE9 */
.oldie .nav-toggle {
	color: #cb261d;
}
.oldie .opaque .nav-toggle {
	color: #cb261d;
}
.nav-toggle:before {
	font-family: "responsivenav", sans-serif;
	font-style: normal;
	font-weight: bolder;
	font-variant: normal;
	font-size: 28px;
	text-transform: none;
	position: absolute;
	text-indent: 0;
	text-align: center;
	line-height: 55px;
	speak: none;
	width: 100%;
	top: 0;
	left: 0;
	content: "\e9bd";
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-weight: normal;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.nav-toggle.active::before {
	content: "\ea0f";
}
/* if js is disabled */
.no-js #nav-wrap:not(:target) > a:first-of-type, .no-js #nav-wrap:target > a:last-of-type {
	display: block;
}
.no-js #nav-wrap:target ul.nav-list {
	display: block;
}
/* ==========================================================================
    06 - #home section ( banner ) 
========================================================================== */  
#home {
	width: 100%;
	height: 68%;
	min-height: 35em !important;
	padding-top: 87px;
	overflow: hidden;
	/*background: linear-gradient(to left top, #ddd 0, #f2f2f2 100%);*/
	background: #ddd url(../img/banner.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	position: relative;
	border-bottom: 2px solid #f2f2f2;
}
#home .row {
	position: inherit;
	padding-top: 16vh;
	width: 100%;
	height: 100%;
}
/* for oldIE - IE9 */
/* 2 slider*/
.oldie #home .row {
	padding-top: 8%;
}
/* for oldIE - IE9 */
/*1 slider*/
.oldeie #home .row.part {
	padding-top: 12%;
}
.headline-icon {
	float: left;
	margin: 0 10px 0 0;
	display: block;
}
#ver{
	font-size: 1em;
	position: absolute;
	bottom: 5px;
	right: 15px;
	color: #ec9f00;
}
.caption {
	position: relative;
	text-align: center;
	vertical-align: top;
	margin-bottom: 1.1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.caption h1 {
	font-size: 55px;
	letter-spacing: 4px;
	color: #fff;
	display: block;
	padding-bottom: .5em;
}
.caption h1:after {
	display: block;
	background-color: #fff;
	width: 40px;
	height: 3px;
	content: '\0020';
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -20px;
}
.caption h3 {
	font-weight: normal;
	letter-spacing: 2px;
	display: inline-block;
	background-color: #fff;
	border-radius: 30px;
	position: relative;
	z-index: 1;
	zoom: 1;
	padding: 0.5em 2.5em;
    margin: .8em;
    font-size: 1.5em;
    color: #1851b3;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
.caption h3:hover {
	background-color: rgba(0,0,0,.6);
	color: #fff!important;
}
.slides h3 {
	color: #fff;
	text-align: center;
	position: relative;
	line-height: 30px;
	letter-spacing: .1em;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImage Transform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
}
.slide 
.flex-caption {
	width: 100%;
	clear: both;
}
/* for css animations */
.show {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	zoom: 1;
}
.slides #timeline-horizontal {
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
}
/* for oldIE - IE9 */
.oldie .slides h3 {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	zoom: 1;
}
.oldie .slides #timeline-horizontal {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	zoom: 1;
}
/* control nav */
#home .flex-control-nav {
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	bottom: 0;
	z-index: 2;
}
#home .flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
}
#home .flex-control-paging li a {
	width: 12px;
	height: 12px;
	display: block;
	cursor: pointer;
	text-indent: -9999px;
	border-radius: 50%;
	background: #fff;
}
#home .flex-control-paging li a.flex-active, #home .flex-control-paging li a:hover {
	background-color: #e4bc00;
	cursor: default;
}
/* direction-nav*/
#home .flex-direction-nav a {
	color: #fff;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	display: block;
	font: 0/0 a;
	cursor: pointer;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#home .flex-direction-nav a:hover {
	color: #ec9f00;
}
#home .flex-direction-nav .flex-next {
	right: 1.5%;
	position: absolute;
}
#home .flex-direction-nav .flex-next:before {
	content: '\f105';
	font: normal normal 60px/60px "FontAwesome", sans-serif;
	position: absolute;
	right: 20px;
}
#home .flex-direction-nav .flex-prev {
	left: 1.5%;
	position: absolute;
}
#home .flex-direction-nav .flex-prev:before {
	content: '\f104';
	font: normal normal 60px/60px "FontAwesome", sans-serif;
	position: absolute;
	left: 20px;
}
#home:hover .flex-next {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	right: 0;
}
#home:hover .flex-prev {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	left: 0;
}
.flex-direction-nav .flex-disabled {
	opacity: .3 !important;
	filter: alpha(opacity=30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	cursor: default;
}
/* ==========================================================================
    07 - timeline 
========================================================================== */  
#timeline-horizontal {
	transform : translateY(-50%);
	position : relative;
	color : #d8d8d8;
	width: 85%;
	margin: .8em auto 0 auto;
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: rgba(0,0,0,.08);
	border-radius: 5px;
	zoom: 1;
	z-index: 1;
}
#timeline-horizontal ul {
	list-style : none;
	font-size: 1em;
	line-height: 1.6em;
	letter-spacing: 0;
	padding : 0;
	margin: 0 auto;
	text-align : center;
	counter-reset: step;
	display : table;
}
/* content */
#timeline-horizontal > ul > li {
	box-sizing : border-box;
	text-align : center;
	position : relative;
	padding-top: 2.5em;
	/* aligen */
	display: table-cell;
	vertical-align: top;
	zoom: 1;
}
#timeline-horizontal ul li ul {
	text-align: center;
	margin: 0 auto;
}
#timeline-horizontal ul li ul li {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}
#timeline-horizontal ul li ul li:before, #timeline-horizontal ul li ul li:after {
	content: '';
	padding: 0;
	margin: 0;
	height: 0;
	width: 0;
	clear: both;
	visibility: hidden;
}
/* Draw circle number */
#timeline-horizontal li:before {
	text-align : center;
	content : '0'counter(step);
	counter-increment : step;
	letter-spacing: 1px;
	width : 1.875em;
	height : 1.875em;
	border : 2px solid #aaa;
	border-radius : 50%;
	font: normal normal 100%/30px Arial, sans-serif;
	position : absolute;
	left : 50%;
	top : 0;
	transform : translateX(-50%);
	background-color : #aaa;
	color : #fff;
	cursor: default;
	z-index: 1;
}
.oldie #timeline-horizontal ul li:before {
	margin-left: -15px;
}
/*Draw horizontal line*/
#timeline-horizontal ul li:after {
	content : "";
	display : block;
	width : 100%;
	height : 2px;
	background-color: #aaa;
	top : 15px;
	margin-left : -50%;
	position : absolute;
	z-index : -1;
}
/* clear left horizontal line*/
#timeline-horizontal ul li:first-child:after {
	content: none;
}
#timeline-horizontal ul li.now {
	color: #e4bc00;
}
#timeline-horizontal ul li.now:before, #timeline-horizontal ul li.now:after {
	background-color: #e4bc00;
}
#timeline-horizontal ul li.now:before {
	border : 2px solid #dc8f00;
	content: '\f00c';
	font: normal normal 100%/30px "FontAwesome", sans-serif;
}
#timeline-horizontal ul li.unactive {
	color: #fff;
}
/* ==========================================================================
    08 - button 
========================================================================== */  
/*general button*/
.sim-button {
	line-height: 40px;
	font-size: 1em;
	letter-spacing: 1px;
	height: 40px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}
.sim-button a i {
	position: relative;
	right: -0.15em;
	font-size: 1.6em;
	top: .15em;
}
.sim-button a div {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
}
/*button effect*/
.btn-01 {
	position: relative;
	border: 1px solid rgba(220,143,0,0.5);
	overflow: hidden;
	background-color: #ec9f00;
	width: 150px;
}
.btn-01 a {
	color: #fff;
	text-decoration: none;
	display: block;
	z-index: 2;
	position: relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.btn-01:hover a {
	color: #fff;
}
.btn-01::before, .btn-01::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	border-radius: 5px;
	background-color: rgba(200,38,29,0.25);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: translate(0, -100%);
	transform: translate(0, -100%);
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.btn-01:after {
	-webkit-transition-delay: 0.2s; /* Safari */
	transition-delay: 0.2s;
}
.btn-01:hover::before, .btn-01:hover::after {
	-webkit-transform: translate(0, 0);
	transform: translate;
}
.btn-02 {
	position: relative;
	border: 1px solid #ddd;
	overflow: hidden;
	background-color: #f2f2f2;
	width: 180px;
}
.btn-02 a {
	color: #717171;
	text-decoration: none;
	display: block;
	z-index: 2;
	position: relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.btn-02:hover a {
	background-color: #ec9f00;
	color: #fff;
}
#go-top {
	width: 60px;
	height: 60px;
	display: inline-block;
	position: absolute;
	top: -35px;
	left: 50%;
	margin-left: -30px;
	background: #fafafa;
	border-radius: 50%;
	text-decoration: none;
	vertical-align: middle;
	z-index: 1;
}
#go-top a {
	content: '';
	position: absolute;
	z-index: 1;
	top: 3px;
	right: 3px;
	bottom: 3px;
	left: 3px;
	background-color: #0d68a2;
	border-radius: 50%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
/* hover effect */
#go-top:hover a {
	background-color: #ec9f00;
}
#go-top a i {
	position: relative;
	top: .1em;
	color: #fff;
	z-index: 2;
}
/* ==========================================================================
    09 - section padding 
========================================================================== */  
section {
	/*padding-top: 95px;*/
	/*padding-bottom: 65px;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}
#intention, #function, #supplement, #procedure, #calculation {
	padding-top: 8%;
	padding-bottom: 8%;
}
#problem {
	padding-top: 8%;
	padding-bottom: 8%;
}
#slogan {
	padding-top: 5%;
	padding-bottom: 5%;
}
/* ==========================================================================
    10 - slogan section 
========================================================================== */  

#slogan .columns {
	width: 33.33333%;
	text-align: center;
	float: left;
}
#slogan .columns .card-icon {
	background-color: #fafafa;
	border: 2px solid #f2f2f2;
	margin: 0 auto .8em auto;
	display: block;
	width: 45%;
	height: 0;
	padding-bottom: 45%;
	border-radius: 50%;
	box-sizing: inherit;
}
#slogan .columns .card-icon span {
	text-align: center;
	font: normal normal 2.3em/1em 'FontAwesome';
	color: #373737;
	float: left;
	width: 100%;
	padding-top: 50%;
	margin-top: -0.4em;
	z-index: 1;
}
#slogan .columns .card-icon:hover {
	transition: all 0.4s cubic-bezier(0.31, -0.105, 0.43, 1.59);
	background-color: #d8261d;
	transform: scale(1.1);
}
#slogan .columns .card-icon:hover span {
	transition: all 0.5s cubic-bezier(0.31, -0.105, 0.43, 1.59);
	color: #fff;
}
#slogan .columns h2 {
	color: #d8261d;
	position: relative;
	letter-spacing: 2px;
	margin-bottom: .2em;
}
#slogan .columns p {
	letter-spacing: 1px;
}
/* ==========================================================================
     11 - function section 
========================================================================== */  
.titles{
	font-size: 1.2em;
	border-radius: 20px;
	background: #373737;
	color: #fff;
	display: table;
	padding: 0.3em 2em;
	margin: .8em auto;
	text-align: center;
}
.numtitle{
	position: relative;
}
.numtitle .stepnum{
	position: absolute;
	left:5px;
	padding: .03em .5em;
	background: #f55809;
}
.txt{
	text-align: center;
	margin-bottom: 3em;
}
.txt img{
	text-align: center;
	display: initial;
}
.stepnum{
	background: #d82733;
	color:#fff;
	padding: .03em .4em;
	border-radius: 100%;
	font-style: normal;
}
.txt .break{
	word-wrap: break-word;
}
.txt .nowrap{
	white-space: nowrap;
	display: inline-block;
	border-radius: 10px;
	background: #eee;
	padding: 2px 10px;
	margin: 2px;
}
.titleb{
	text-align: center;
	font-size: 1em;
	font-weight: bolder;
}
.txt table {
	width: 100%;
	margin: 5px auto;
	border-spacing: 1px !important;
	font-size: .9em;
	line-height: 1.8em;
	color: #888888;
	border-collapse: collapse;
}
.txt table .table-tietle {
	background: #0d68a2!important;
	color: #fff;
	font-size: 1.2em;
}
.txt table .table-tietle td {
	text-align: center!important;
}
.txt table .tablecolor1 {
}
.txt table .tablecolor2 {
}
.txt table tbody {
	background: #fff;
}
.txt table tr td {
	text-align: left;
	vertical-align: middle;
	padding: .5em;
	border: #e5e5e5 solid 1px;
	
}
.txt table tr td .winicon{
	margin-right: 5px;
	max-width: 25px;
	vertical-align: middle;
}
.txt table tr:nth-child(odd) {
	background-color: #fafafa;
}
.txt .tdw{
	width:26%; 
	text-align: center!important;
}
.txt .tdb{
	color:#000000;
}

#function .row > .content > .columns {
	width: 50%;/* max-width: 485px;*/
	min-height: 90px;
}
#function > .row > .content > .columns.pull-left {
	padding-right: 15px;
}
#function > .row > .content > .columns.pull-right {
	padding-left: 15px;
}
/*zozo.tab clean style content*/
.z-tabs.clean.horizontal > .z-container > .z-content > .z-content-inner > .content {
	padding: 0 15px;
	width: 100%;
	box-sizing: border-box;
}
.z-tabs.clean.horizontal > .z-container > .z-content > .z-content-inner > .content > .columns {
	width: 50%;
	min-height: 90px;
}
.z-tabs.clean.horizontal > .z-container > .z-content > .z-content-inner > .content > .columns.pull-left {
	padding-right: 15px;
}
.z-tabs.clean.horizontal > .z-container > .z-content > .z-content-inner > .content > .columns.pull-right {
	padding-left: 15px;
}

/* ==========================================================================
    12 - calculation section 
========================================================================== */  
/* control nav */
#calculation .flex-control-nav {
	width: 100%;
	text-align: center;
	display: block;
	position: relative;
	z-index: 2;
}
#calculation .flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
}
#calculation .flex-control-paging li a {
	width: 12px;
	height: 12px;
	display: block;
	cursor: pointer;
	text-indent: -9999px;
	border-radius: 50%;
	background: #aaa;
}
#calculation .flex-control-paging li a.flex-active, #calculation .flex-control-paging li a:hover {
	background-color: #d8261d;
	cursor: default;
}
/* direction-nav*/
#calculation .flex-direction-nav a {
	border-radius: 50%;
	border: 3px solid #fff;
	width: 40px;
	height: 40px;
	background: #aaa;
	position: absolute;
	margin-top: -20px;
	top: 50%;
	color: #fff;
	display: block;
	cursor: pointer;
	z-index: 2;
	font: 0/0 a;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#calculation .flex-direction-nav a:hover {
	color: #fff;
	background-color: #d8261d;
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#calculation .flex-direction-nav .flex-next {
	text-align: right;
	position: absolute;
	right: 0;
}
#calculation .flex-direction-nav .flex-next:before {
	content: '\f105';
	font: normal normal 40px/40px "FontAwesome", sans-serif;
	position: relative;
	right:12px;
	top: 0;
}
#calculation .flex-direction-nav .flex-prev {
	position: absolute;
	left: 0;
}
#calculation .flex-direction-nav .flex-prev:before {
	content: '\f104';
	font: normal normal 40px/40px "FontAwesome", sans-serif;
	position: relative;
	left: 12px;
	top: 0;
}
#calculation .flex-container:hover .flex-direction-nav li a {
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	opacity: .6;
	filter: alpha(opacity=60);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
/* ==========================================================================
    13 - procedure section 
========================================================================== */  
#procedure .step .columns {
	width: 50%;
	max-width: 465px;
	overflow: hidden;
	/* matgin bottom first step img*/
	margin-bottom: 2em;
}
#procedure .step .columns.pull-left {
	padding-right: 15px;
}
#procedure .step .columns.pull-right {
	padding-left: 15px;
}
#procedure .step {
	/* padding for #anchor-01 & header height*/
	padding-top: 3%;
}
/* ==========================================================================
    14 - problem section 
========================================================================== */ 
#problem .content .columns.two {
	margin-top: 1em;
}
/* ==========================================================================
    14 - footer section 
========================================================================== */  
footer {
	width: 100%;
	padding: 3em 0;
	color: #FFFFFF;
	font-size: .9em;
	text-align: center;
	position: relative;
	background-color: #0d68a2;
	letter-spacing: 1px;
	font-family: "Microsoft YaHei", "PingFangSC-Regular", Helvetica, Arial, sans-serif;
	z-index: 5;
}
/* ==========================================================================
    15 - addtop
========================================================================== */  
.icon-icon_top{
	font-size: 3em;
}
#right-go-top {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: fixed;
    bottom: 1em;
    right: 1em;
    margin-left: -30px;
    background: #fafafa;
    border-radius: 50%;
    text-decoration: none;
    vertical-align: middle;
	z-index: 1;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
	visibility:hidden;
}
#right-go-top a {
    content: '';
    position: absolute;
    z-index: 1;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    background-color: #0d68a2;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
}
#right-go-top a i {
    position: relative;
    top: .05em;
    color: #fff;
    z-index: 2;
}
#right-go-top .icon-icon_top{
	font-size: 2.4em;
}
.go-top-show{
	opacity: 1!important;
	visibility:visible!important;
}