/* line 7, ../sass/style.sass */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 10, ../sass/style.sass */
html, body {
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  border-radius: 0;
}

/* line 18, ../sass/style.sass */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Microsoft Yahei";
}

/* line 28, ../sass/style.sass */
a {
  text-decoration: none;
}

/* line 30, ../sass/style.sass */
ul {
  padding-left: 0;
}
/* line 32, ../sass/style.sass */
ul li {
  list-style: none;
}

/* line 38, ../sass/style.sass */
.slick-slider {
  position: relative;
  width: 100%;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 48, ../sass/style.sass */
.slick-slider .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  width: 100%;
}
/* line 54, ../sass/style.sass */
.slick-slider .slick-slide:focus, .slick-slider .slick-slide:hover {
  outline: 0;
}
/* line 56, ../sass/style.sass */
.slick-slider .slick-slide img {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
}
/* line 62, ../sass/style.sass */
.slick-slider .slick-prev, .slick-slider .slick-next {
  opacity: 0;
  position: absolute;
}
/* line 66, ../sass/style.sass */
.slick-slider .slick-dots {
  position: absolute;
  bottom: 16px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
/* line 75, ../sass/style.sass */
.slick-slider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 16px;
  background-color: #ccc;
  border-radius: 100%;
  height: 16px;
  margin: 8px;
  padding: 0;
  cursor: pointer;
}
/* line 87, ../sass/style.sass */
.slick-slider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 16px;
  height: 16px;
  padding: 8px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
/* line 101, ../sass/style.sass */
.slick-slider .slick-dots li button:hover,
.slick-slider .slick-dots li button:focus {
  outline: none;
}
/* line 106, ../sass/style.sass */
.slick-slider .slick-dots li button:hover:before,
.slick-slider .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 111, ../sass/style.sass */
.slick-slider .slick-dots li button:before {
  font-size: 16px;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: opacity 0.25s;
}
/* line 128, ../sass/style.sass */
.slick-slider .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}
/* line 133, ../sass/style.sass */
.slick-slider .slick-dots li.slick-active {
  background-color: #000;
}

@media (min-width: 769px) {
  /* line 140, ../sass/style.sass */
  .mobile {
    display: none;
  }

  /* line 142, ../sass/style.sass */
  body {
    background-color: #089ab3;
  }

  /* line 145, ../sass/style.sass */
  .tab-container {
    position: relative;
    border-top: 6px solid #0759a5;
    line-height: 1.8em;
    background-image: url(../images/pc-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
  /* line 153, ../sass/style.sass */
  .tab-container .container {
    position: relative;
    margin: 0 auto;
    width: 987px;
  }
  /* line 158, ../sass/style.sass */
  .tab-container .tab-left, .tab-container .tab-right {
    position: absolute;
  }
  /* line 161, ../sass/style.sass */
  .tab-container .tab-left {
    top: -8px;
    left: 55px;
    z-index: 100;
  }
  /* line 165, ../sass/style.sass */
  .tab-container .tab-right {
    top: 0px;
    right: 35px;
  }
  /* line 169, ../sass/style.sass */
  .tab-container .nav-tabs {
    position: absolute;
    border-bottom: 0;
    top: -1px;
    margin: 0 5%;
    background: linear-gradient(to bottom, #319df7 30%, #247cf7);
    box-shadow: 0 8px 1px #06489e;
    border: 1px solid #319df7;
    color: #0250b4;
    border-top-left-radius: 95px;
    border-top-right-radius: 95px;
    border-bottom-right-radius: 210px;
    border-bottom-left-radius: 210px;
    overflow: hidden;
  }
  /* line 184, ../sass/style.sass */
  .tab-container .nav > li, .tab-container .nav > li.active {
    width: calc(100% / 3);
  }
  /* line 186, ../sass/style.sass */
  .tab-container .nav > li > a {
    position: relative;
    width: 100%;
    padding: 10px 0;
    color: #0d57d8;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  /* line 194, ../sass/style.sass */
  .tab-container .nav > li > a:before, .tab-container .nav > li > a:after {
    position: absolute;
    content: "";
    height: 42px;
    width: 1px;
  }
  /* line 199, ../sass/style.sass */
  .tab-container .nav > li > a:before:nth-child(3), .tab-container .nav > li > a:after:nth-child(3) {
    background: transparent;
  }
  /* line 202, ../sass/style.sass */
  .tab-container .nav > li > a:before {
    left: -1px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #31a3f9 50%, rgba(0, 0, 0, 0));
  }
  /* line 205, ../sass/style.sass */
  .tab-container .nav > li > a:after {
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #0d57d8 50%, rgba(0, 0, 0, 0));
  }
  /* line 210, ../sass/style.sass */
  .tab-container .nav-tabs > li > a:hover, .tab-container .nav-tabs > li > a:focus {
    background: linear-gradient(to bottom, #1577de 30%, #0d59dd);
    color: #ffd800;
    padding: 10px 0;
    border-bottom: 0;
    font-size: 30px;
    border: 0;
  }
  /* line 217, ../sass/style.sass */
  .tab-container .nav-tabs > li.active > a, .tab-container .nav-tabs > li.active > a:hover, .tab-container .nav-tabs > li.active > a:focus {
    background: linear-gradient(to bottom, #1577de 30%, #0d59dd);
    color: #ffd800;
    font-weight: bold;
    font-size: 30px;
    border: 0;
  }
  /* line 224, ../sass/style.sass */
  .tab-container .nav-tabs > li.active > a#game, .tab-container .nav-tabs > li.active > a#game:hover, .tab-container .nav-tabs > li.active > a#game:focus, .tab-container .nav-tabs > li > a#game:hover, .tab-container .nav-tabs > li > a#game:focus {
    background: url(../images/tab03.png) no-repeat 245px 35px, linear-gradient(to bottom, #1577de 30%, #0d59dd);
  }
  /* line 226, ../sass/style.sass */
  .tab-container .caption {
    margin: 30px auto;
    width: 90%;
    color: #00f0ff;
    font-size: 24px;
    text-align: center;
    padding: 0;
    line-height: 1.8;
  }
  /* line 234, ../sass/style.sass */
  .tab-container .nav-tabs {
    position: relative;
  }
  /* line 236, ../sass/style.sass */
  .tab-container .nav-tabs img {
    position: absolute;
  }
  /* line 238, ../sass/style.sass */
  .tab-container .nav-tabs img:nth-child(1) {
    left: -10%;
  }
  /* line 240, ../sass/style.sass */
  .tab-container .nav-tabs img:nth-child(1) {
    right: -10%;
  }
  /* line 243, ../sass/style.sass */
  .tab-container .tab-pane {
    position: relative;
    border-radius: 60px;
    background: url(../images/pc-logo.png) no-repeat top center, linear-gradient(to bottom, #089ab3 30%, rgba(0, 0, 0, 0));
    color: #fef809;
    box-shadow: 0 2px 2px rgba(8, 154, 179, 0.2);
    height: 550px;
  }
  /* line 251, ../sass/style.sass */
  .tab-container .tab-pane .photo-left, .tab-container .tab-pane .photo-right {
    position: absolute;
  }
  /* line 253, ../sass/style.sass */
  .tab-container .tab-pane .photo-left {
    left: -5%;
    top: 15%;
  }
  /* line 256, ../sass/style.sass */
  .tab-container .tab-pane #img-tiger-left {
    width: 11%;
    left: -5%;
    top: 14%;
  }
  /* line 260, ../sass/style.sass */
  .tab-container .tab-pane #img-fish-left, .tab-container .tab-pane #img-game-left {
    left: -10%;
  }
  /* line 262, ../sass/style.sass */
  .tab-container .tab-pane .photo-right {
    bottom: -2%;
    right: -16%;
  }
  /* line 265, ../sass/style.sass */
  .tab-container .tab-pane #img-tiger-right {
    right: -15%;
    bottom: -10%;
  }
  /* line 268, ../sass/style.sass */
  .tab-container .tab-pane #img-fish-right {
    right: -22%;
    bottom: -15%;
  }
  /* line 271, ../sass/style.sass */
  .tab-container .tab-pane #img-game-right {
    right: -20%;
    bottom: -10%;
  }
  /* line 274, ../sass/style.sass */
  .tab-container .tab-pane .tab-box {
    padding: 65px 30px 15px;
    min-height: 40vh;
  }
  /* line 277, ../sass/style.sass */
  .tab-container .tab-pane img {
    padding-top: 14px;
  }
  /* line 280, ../sass/style.sass */
  .tab-container .tab-pane .title, .tab-container .tab-pane .introduce {
    display: inline-block;
  }
  /* line 282, ../sass/style.sass */
  .tab-container .tab-pane .title *, .tab-container .tab-pane .introduce * {
    margin: 0;
    padding: 0;
    font-weight: 500;
  }
  /* line 286, ../sass/style.sass */
  .tab-container .tab-pane .title {
    background: url(../images/title-left.png) no-repeat left top, url(../images/title-right.png) no-repeat 65% top;
    width: calc(100% - 45% - 20px*2);
    float: left;
    text-align: center;
  }
  /* line 291, ../sass/style.sass */
  .tab-container .tab-pane .title .titlebox {
    margin: 0 auto 1.8vw;
    min-height: 120px;
    width: 80%;
    text-align: left;
  }
  /* line 296, ../sass/style.sass */
  .tab-container .tab-pane .title .titlebox span {
    font-size: 30px;
  }
  /* line 298, ../sass/style.sass */
  .tab-container .tab-pane .title .titlebox h1 {
    font-size: 55px;
    line-height: 1.3;
  }
  /* line 301, ../sass/style.sass */
  .tab-container .tab-pane .title .titlebox p {
    font-size: 18px;
  }
  /* line 303, ../sass/style.sass */
  .tab-container .tab-pane .title .imgbox {
    border: 8px solid #02548e;
    border-radius: 35px;
    overflow: hidden;
    margin-top: 15px;
  }
  /* line 308, ../sass/style.sass */
  .tab-container .tab-pane .title .imgbox img {
    width: 100%;
  }
  /* line 310, ../sass/style.sass */
  .tab-container .tab-pane .introduce {
    padding-left: 22px;
  }
  /* line 312, ../sass/style.sass */
  .tab-container .tab-pane .introduce .introduce-box {
    margin: 25px 0;
    margin-left: 0.5vw;
  }
  /* line 315, ../sass/style.sass */
  .tab-container .tab-pane .introduce .introduce-box:nth-child(1) {
    margin-top: 36px;
  }
  /* line 317, ../sass/style.sass */
  .tab-container .tab-pane .introduce .introduce-box:nth-child(3) {
    margin-bottom: 0;
  }
  /* line 319, ../sass/style.sass */
  .tab-container .tab-pane .introduce .introduce-box h3 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  /* line 322, ../sass/style.sass */
  .tab-container .tab-pane .introduce .introduce-box p {
    margin-left: 1em;
    font-size: 18px;
    line-height: 1.8;
    opacity: 0.7;
  }
  /* line 327, ../sass/style.sass */
  .tab-container .tab-pane .introduce .introduce-box img {
    margin-right: 4px;
    width: 11px;
    height: 11px;
  }
  /* line 332, ../sass/style.sass */
  .tab-container a.button {
    background-image: url(../images/button.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: block;
    width: 338px;
    height: 130px;
    margin: 60px auto 50px;
    transition: background-color 0.5s;
  }
  /* line 342, ../sass/style.sass */
  .tab-container a.button:hover {
    background-image: url(../images/button-h.png);
  }

  /* line 344, ../sass/style.sass */
  section {
    position: relative;
  }
  /* line 346, ../sass/style.sass */
  section a.scroll {
    position: absolute;
    bottom: 12%;
    left: 50%;
    color: #fff;
    text-shadow: 0 0 2px #000;
    z-index: 9999999;
    display: inline-block;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: opacity 0.3s;
  }
  /* line 359, ../sass/style.sass */
  section a.scroll span.arrow {
    -webkit-transition: all 600ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: all 600ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
    animation: 3s ease-out 1s slidein;
    position: absolute;
    top: 20px;
    left: 50%;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    border-radius: 4px;
    margin-left: -15px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 1025px) and (min-width: 769px) {
  /* line 380, ../sass/style.sass */
  section a.scroll {
    bottom: 18%;
  }

  /* line 383, ../sass/style.sass */
  .tab-container .container {
    margin: 0 auto;
    width: 860px;
  }
  /* line 386, ../sass/style.sass */
  .tab-container .container .tab-left {
    left: 40px;
  }
  /* line 388, ../sass/style.sass */
  .tab-container .container .tab-right {
    right: 30px;
  }
  /* line 390, ../sass/style.sass */
  .tab-container .container .nav-tabs > li.active > a#game, .tab-container .container .nav-tabs > li.active > a#game:hover, .tab-container .container .nav-tabs > li.active > a#game:focus, .tab-container .container .nav-tabs > li > a#game:hover, .tab-container .container .nav-tabs > li > a#game:focus {
    background: url(../images/tab03.png) no-repeat 185px 30px, linear-gradient(to bottom, #1577de 30%, #0d59dd);
  }
  /* line 392, ../sass/style.sass */
  .tab-container .container .title {
    background: url(../images/title-left.png) no-repeat left top, url(../images/title-right.png) no-repeat 80% top;
    width: calc(100% - 50% - 20px*2);
  }
  /* line 395, ../sass/style.sass */
  .tab-container .container .title .titlebox {
    min-height: 120px;
    width: 65%;
  }
  /* line 398, ../sass/style.sass */
  .tab-container .container .title .titlebox span {
    font-size: 20px;
  }
  /* line 400, ../sass/style.sass */
  .tab-container .container .title .titlebox h1 {
    font-size: 45px;
    line-height: 1.3;
  }
  /* line 403, ../sass/style.sass */
  .tab-container .container .title .titlebox p {
    font-size: 14px;
  }
  /* line 406, ../sass/style.sass */
  .tab-container .container .tab-pane {
    height: 480px;
  }
  /* line 408, ../sass/style.sass */
  .tab-container .container .tab-pane #img-fish-left, .tab-container .container .tab-pane #img-game-left {
    width: 18%;
    top: 18%;
  }
  /* line 411, ../sass/style.sass */
  .tab-container .container .tab-pane #img-tiger-left {
    top: 18%;
  }
  /* line 413, ../sass/style.sass */
  .tab-container .container .tab-pane #img-tiger-right {
    width: 30%;
    right: -8%;
    bottom: -35%;
  }
  /* line 417, ../sass/style.sass */
  .tab-container .container .tab-pane #img-fish-right {
    width: 40%;
    right: -10%;
    bottom: -32%;
  }
  /* line 421, ../sass/style.sass */
  .tab-container .container .tab-pane #img-game-right {
    width: 35%;
    right: -10%;
    bottom: -30%;
  }
}
@media (max-width: 769px) {
  /* line 429, ../sass/style.sass */
  .pc, a.scroll {
    display: none;
  }

  /* line 432, ../sass/style.sass */
  body {
    background-color: #002363;
    line-height: 1.8em;
  }

  /* line 436, ../sass/style.sass */
  .logo {
    margin-top: 1em;
  }

  /* line 439, ../sass/style.sass */
  .caption {
    margin: 1.4em 0;
    color: #00f0ff;
    font-size: 20px;
    text-align: center;
    padding: 0 1.4em;
    line-height: 1.8;
  }

  /* line 448, ../sass/style.sass */
  section.contain {
    padding: 2em 10px;
    border-top: 1px dashed #1761bb;
  }

  /* line 452, ../sass/style.sass */
  .CQ9-box {
    padding: 1.2em 0;
    border-radius: 12px;
    padding: 1.6em 1em;
    background: linear-gradient(to bottom, #089ab3 30%, rgba(0, 0, 0, 0));
    box-shadow: 0 2px 2px rgba(8, 154, 179, 0.2);
    color: #fef809;
  }
  /* line 459, ../sass/style.sass */
  .CQ9-box > div {
    display: inline-block;
  }
  /* line 461, ../sass/style.sass */
  .CQ9-box > div * {
    margin: 0;
    padding: 0;
    font-weight: 500;
  }
  /* line 466, ../sass/style.sass */
  .CQ9-box .title {
    width: 40%;
    float: left;
  }
  /* line 469, ../sass/style.sass */
  .CQ9-box .title span {
    font-size: 1.4em;
  }
  /* line 471, ../sass/style.sass */
  .CQ9-box .title h1 {
    font-size: 2.5em;
    line-height: 1.8;
  }
  /* line 474, ../sass/style.sass */
  .CQ9-box .title p {
    font-size: 1.2em;
  }
  /* line 476, ../sass/style.sass */
  .CQ9-box .title img {
    margin-top: 2.7vw;
    width: 80%;
  }
  /* line 479, ../sass/style.sass */
  .CQ9-box .introduce {
    width: 60%;
    padding-left: 1em;
  }
  /* line 482, ../sass/style.sass */
  .CQ9-box .introduce .introduce-box {
    margin-bottom: 2.8vw;
  }
  /* line 484, ../sass/style.sass */
  .CQ9-box .introduce .introduce-box:nth-child(3) {
    margin-bottom: 0;
  }
  /* line 486, ../sass/style.sass */
  .CQ9-box .introduce .introduce-box h3 {
    line-height: 1.8;
  }
  /* line 488, ../sass/style.sass */
  .CQ9-box .introduce .introduce-box p {
    font-size: 1.1em;
    margin-left: 2.2vw;
  }
  /* line 491, ../sass/style.sass */
  .CQ9-box .introduce .introduce-box img {
    margin-right: 0.5vw;
  }

  /* line 493, ../sass/style.sass */
  a.button-h5 {
    background-image: url(../images/button-h5.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: block;
    width: 250px;
    height: 96px;
    margin: 30px auto 50px;
    transition: background-color 0.5s;
  }
  /* line 503, ../sass/style.sass */
  a.button-h5:hover {
    background-image: url(../images/button-h-h5.png);
  }
}
@media (max-width: 426px) {
  /* line 509, ../sass/style.sass */
  .CQ9-box .title img {
    width: 100%;
    margin-top: 16.5vw;
  }
  /* line 512, ../sass/style.sass */
  .CQ9-box .title #game {
    margin-top: 9vw;
  }
}
@media (max-width: 321px) {
  /* line 518, ../sass/style.sass */
  .CQ9-box .title span {
    font-size: 1.2em;
  }
  /* line 520, ../sass/style.sass */
  .CQ9-box .title p {
    font-size: 1em;
  }
  /* line 522, ../sass/style.sass */
  .CQ9-box .title img#tiger {
    margin-top: 36vw;
  }
  /* line 524, ../sass/style.sass */
  .CQ9-box .title img#game {
    margin-top: 18vw;
  }
  /* line 526, ../sass/style.sass */
  .CQ9-box .title h1 {
    font-size: 1.8em;
  }
}
